body, html{
  background: #fafafa;
   color: #2d2d2d;
   font-size: 14px;
   padding: .3rem .6rem;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.list-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem ;
  background: white;
  border-bottom: 1px solid #f1f1f1;
}

.list-wrapper:nth-child(even) {
  background: #fafafa;
}

.create-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem ;
  background: turquoise;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.product-name{
  font-weight: bold;
}

.product-amount input, .create-wrapper #create-price {
  width: 30px;
}

input {
  border: solid 1px lightgray;
  padding: .5rem;

}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}

.total-wrapper{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.total-wrapper h3{
  font-weight: normal;
}

.total-wrapper span{
  font-weight: bold;
}
